.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Malgun Gothic', sans-serif;
  font-size: 12px;
}

.container {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}
